<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/png" href="assets/img/favicon.ico" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title></title>

<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<meta name="viewport" content="width=device-width" />


<!-- Bootstrap core CSS     -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />

<!-- Animation library for notifications   -->
<link href="assets/css/animate.min.css" rel="stylesheet" />

<!--  Light Bootstrap Table core CSS    -->
<link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />


<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="assets/css/demo.css" rel="stylesheet" />


<!--     Fonts and icons     -->
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

	<div class="wrapper">
		<div class="sidebar" data-color="purple"
			data-image="assets/img/sidebar-5.jpg">

			<!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="#" class="simple-text"> SITS3 Communication </a>
				</div>

				<ul class="nav">
					<li class="active"><a href="dashboard.html"> <i
							class="pe-7s-graph"></i>
							<p>Dashboard</p>
					</a></li>
					<li><a href="suggestions.html"> <i class="pe-7s-note2"></i>
							<p>Suggestions</p>
					</a></li>
					<li><a href="profiles.html"> <i class="pe-7s-user"></i>
							<p>My Profile</p>
					</a></li>
				</ul>
			</div>
		</div>

		<div class="main-panel">
			<nav class="navbar navbar-default navbar-fixed">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#navigation-example-2">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Suggestions</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">

						</ul>

						<ul class="nav navbar-nav navbar-right">

							<li><a href="#"> Log out </a></li>
						</ul>
					</div>
				</div>
			</nav>

			<!-- New Suggestion Model -->

			<div class="modal fade newSuggestionModel" tabindex="-1"
				role="dialog" aria-labelledby="">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="exampleModalLabel">Create new
								suggestion</h4>
						</div>
						<div class="modal-body">
							<form id="suggestionForm">

								<div class="form-group">
									<label for="message-text" class="control-label">Suggestion:</label>
									<textarea id="txtSuggestion" name="txtSuggestion" class="form-control"></textarea>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
							<button type="button" id="btnCreateSuggestion" class="btn btn-primary">Create</button>
						</div>
					</div>
				</div>
			</div>
			<!-- New Sugegstion Model ends -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="bs-example" data-example-id="striped-table">
							<table class="table ">
								<thead>
									<tr>
										<th style="width: 5%"></th>
										<th style="width: 50%">Suggestion</th>
										<th style="width: 20%">Submit Date</th>
										<th style="width: 10%">Replied</th>
										<th style="width: 15%; text-align: right;"><button
												type="button" data-toggle="modal"
												data-target=".newSuggestionModel" class="btn btn-primary">
												&nbsp;&nbsp;Add New&nbsp;&nbsp;</button></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="suggestion : ${suggestions}">
										<td></td>
										<td th:text="${suggestion.content}"></td>
										<td th:text="${suggestion.createDate}"></td>
										<td th:text="${suggestion.status}"></td>
										<td style="text-align: right">
											<button type="button" class="btn btn-primary btn-xs">Reply</button>&nbsp;&nbsp;
											<button type="button" class="btn btn-primary btn-xs">Delete</button>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div style="text-align: right;">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li th:class="${page.firstPage}?'disabled':''"><span
								th:if='${page.firstPage}'>First</span> <a
								th:if='${not page.firstPage}'
								th:href='@{${page.url}(page=0,size=${page.size})}'>First</a></li>
							<li th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
								th:if='${not page.hasPreviousPage}'>«</span> <a
								th:if='${page.hasPreviousPage}'
								th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
								title='Go to previous page'>«</a></li>
							<li th:each='item : ${page.items}'
								th:class="${item.current}? 'active' : ''"><span
								th:if='${item.current}' th:text='${item.number}'>1</span> <a
								th:if='${not item.current}'
								th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
									th:text='${item.number}'>1</span></a></li>
							<li th:class="${page.hasNextPage}? '' : 'disabled'"><span
								th:if='${not page.hasNextPage}'>»</span> <a
								th:if='${page.hasNextPage}'
								th:href='@{${page.url}(page=${page.number},size=${page.size})}'
								title='Go to next page'>»</a></li>
							<li th:class="${page.lastPage}? 'disabled' : ''"><span
								th:if='${page.lastPage}'>Last</span> <a
								th:if='${not page.lastPage}'
								th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last
							</a></li>
						</ul>
					</nav>
				</div>
			</div>




			<footer class="footer"> </footer>

		</div>
	</div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>


<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<script type="text/javascript">
	$(document).ready(function() {

		demo.initChartist();

		/*
		$.notify({
			icon: 'pe-7s-gift',
			message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

		},{
		    type: 'info',
		    timer: 4000
		});
		 */

	});
	
	$(function(){
	    $('#suggestionForm').on('submit', function(e){
	        e.preventDefault();
	        $.ajax({
	            url: "doCreateSuggestion", //this is the submit URL
	            type: 'POST', //or POST
	            data: $('#suggestionForm').serialize(),
	            success: function(data){
	            	$('.newSuggestionModel').modal('hide');
	            	location.reload();
	            },
	            error:function(){
	            	alert("failure");
	            }
	        });
	    });
	});

	// function to submit suggestion form
	$(function() {
		$("button#btnCreateSuggestion").click(function() {
			$('#suggestionForm').submit();
		});
	});
</script>

</html>
